@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: white;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;

}

.header-image {
    height: 75px;

}

.header-menu {
    display: flex;
    gap: 32px;
}

.header-menu-item {
    display: flex;
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: 400;

}

.content {
    margin-bottom: 48px;
    border-top: 0.4px solid black;
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.main-content-write {
    display: flex;
    flex-direction: column;
    gap: 32px;

}
.main-content-write-title {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 64px;
    color: black;


}
.main-content-write-subtitle {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;

}
.main-content-button {
    background-color: firebrick;
    width: 180px;
    height: 60px;
    border: none;

    border-radius: 7px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
}

.main-content-button:hover {
    background-color: rgb(97, 9, 9);
}


.main-content-image {
    height: 430px;
    
}

.content-secondary {
    border-top: 0.4px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.content-secondary-title {
    padding-top: 48px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 30px;
    color: red;
    margin-bottom: 16px;
}

.content-secondary-subtitle {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 22px;
}
.basebord {
    padding: 32px;
    border-top: 0.4px solid black;
    
}
.basebord-image {
    height: 48px;
    display: block;
    margin: 0 auto;
}